In [ ]:
""" 
1)calculate and print the value according a given formulae
Q=squareroot of [(2*C*D)/H] where C=50;H=30
d=input in a comma seperated sequence 

example=100,150,180
output=18,22,24
"""


import math

print(int(math.sqrt(333)))

input=[100,150,180]
c,h=50,30

output=[]
for d in input:
  q=(2*c*d)/h
  q=int(math.sqrt(q))
  output.append(q)

print(output)

18
[18, 22, 24]

In [3]:
"""
write a prog  which takes input x,y and generates 2D array where each item is i*j where i=row index and j=column index
"""
x=int(input("enter the number of rows"))
y=int(input("enter the number of columns"))

table = [[(c*r) for c in range(y)] for r in range(x)]
print(table)

enter the number of rows3
enter the number of columns4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [17]:
""""
input= comma seperated words
output=those words arranged alphabetically
"""

input_str=input("enter comma seperated string")
words=input_str.split(',')

type(words)
words.sort()

for i in words:
  print(i)

enter comma seperated stringwithout,bag,hello,world
bag
hello
without
world

In [23]:
"""
  input=sentence
  output= remove duplicate and sort words aplhabetically

1)convert it  to list
2)list to set(to remove duplicate)
3)set to list again as sort can only be applied to list
4)list.sort() to sort list elements
"""

input_str=input("enter comma seperated string")
words=input_str.split(' ')

words1=set(words)

ls2=list(words1)

ls2.sort()



print(ls2)

enter comma seperated stringi m happy m
['happy', 'i', 'm']

In [33]:
"""
count number of letters and digits in a string
"""

input_str=input("enter string")

list1=list(input_str)


a,b=0,0
for i in list1:
  if i.isalpha():
    a=a+1
  elif i.isnumeric():
    b=b+1


print("letters="+ str(a))
print("numbers="+ str(b))

enter comma seperated stringhello wrolds 121
letters=11
numbers=3

In [58]:
"""
check validity of input password:
criteria:
atleast i small alphabet,1 capital alphabet,1 number from 0-9,i character$%@,min length 6 , max length 12  
"""

input_str=input("enter string")

l1=input_str.split(',')
l2=list()

for i in range(0,len(l1)):
  flag=0
  if not len(l1[i])>6 and len(l1[i])<12:
          flag=-1
  if not re.search("[a-z]", l1[i]):
        flag = -1
        
  elif not re.search("[A-Z]", l1[i]):
        flag = -1
        
  elif not re.search("[0-9]", l1[i]):
        flag = -1
        
  elif not re.search("[_@$]", l1[i]):
        flag = -1
  if(flag==0):
    l2.append(l1[i])

print(l2)

enter stringkritika,Adv@124
['kritika,Adv@124']

['123@Abcdef']