In [ ]:
"""
write a python programme for






"""

In [ ]:
#1)find words which are greater than given length K
#traversing through  a string by words.


n=int(input("enter the value of fixed length k"))

input_str=input("enter the string")

str1=input_str.split()

for i in str1:
  if(len(i)>n):
    print(i)

enter the value of fixed length k4
enter the stringmy name is kritika banerjee
kritika
banerjee

In [ ]:
#2)for removing ith character from a string
#traversing through a string by character

input_str=input("enter the string")
n=int(input("enter the value of i "))

for i in range(len(input_str)):
    if(i==n):
      input_str1=input_str.replace(input_str[i],"",1)

print(input_str1)

enter the stringkritika banerjee
enter the value of i 3
kriika banerjee

In [ ]:
#3)split and join a string

input_str=input("enter the string")

str2=input_str.split()
print(str2)

str3=' '.join(str2)
print(str3)

enter the stringkafka on the shore
['kafka', 'on', 'the', 'shore']
kafka on the shore

In [ ]:
#4)given string is binary or not

input_str=input("enter the string")

b="01"
flag=0


for i in input_str:
    if i not in b:
      print("not binary")
      flag=1
      break
if (flag==0):
  print("is binary")

not binary

In [ ]:
#5)find uncommon words from 2 strings

A = "apple banana mango" 
B = "banana fruits mango"


A=A.split()
B=B.split()

print(A)
print(B)
C=[]

for i in A:
  print(i)
  if i not in B:
    C.append(i)
    

for i in  B:
  if i not in A:
     C.append(i)
print(C)

['apple', 'banana', 'mango']
['banana', 'fruits', 'mango']
apple
banana
mango
['apple', 'fruits']

In [ ]:
#6)duplicate characters from a string

str1="kafka on the shore"

print("the duplicate characters are")
for i in str1:
  if(str1.count(i)>1):
    print(i)

k
a
k
a

o

h
e

h
o
e

In [ ]:
#7)if string contains any special characters or not

str1=("[@_!#$%^&*()<>?/|}{~:]")
input_str=input("enter the string")

flag=0

for i in input_str:
  if i in str1:
    print("this string contains special characters")
    flag=1
    break
if (flag==0):
  print("this string does not contain any special characters")

enter the stringkafka on the shore
this string does not contain any special characters